


.content1{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(185, 180, 180);
  position: relative;
}

.content1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 10%;
}

.main__text{
  padding: 0 50px;
  position: absolute;
  bottom: 5%;
}



.content1 a {
  padding-top: 60px;
  /* cursor: pointer; */
  /* pointer-events: none; */
}
.content1 a span {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid var(--trans-w-color);
  border-radius: 50px;
  box-sizing: border-box;
}
.content1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: downAnimation 2s infinite;
  box-sizing: border-box;
}

@keyframes downAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.content2{
  height: 1400px;
  background-color: #edece9;
  padding: 0 50px;
}


.content2 > h2{
  padding: 200px 0 20px;
}


.content2 > h2{
  padding: 200px 50px 0;

}
.swiper {
  padding: 40px 50px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}


.product-list {
  display: flex;
  flex-flow: row nowrap;
}

.product-list li {
  flex: 1;
}
.product-list li:nth-child(odd) {
  background-color: #596460;
}
.product-list li:nth-child(even) {
  background-color: #a12460;
}






.prod__img{
  width: 25%;
  height: 400px;
  overflow: hidden;
}

.prod__img img{
  width: 100%;
  object-fit: cover;
}




.newArrivals{
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.newArrivals li{
  width: calc(100%/4);
  
  padding-right: 20px;
}

.newArrivals li:nth-child(4n+0){
  padding-right: 0px;
}


.prod__img{
  width: 100%;
  height: 400px;

  border: 1px solid salmon;
  position: relative;
  overflow: hidden;
}


.prod__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.prod__img:hover .prod__icon{
  bottom: 0;
}

.prod__icon {
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 40px;
  z-index: 10;

  text-align: center;
  margin: 0 auto;
  background: var(--trans-b-color);
  color: var(--text-w-color);

  font-size: 18px;
  transition: all .5s ease-in-out;
}


.prod__icon i{
  padding: 10px;
  width: 40px;
}

.prod__txt {
  padding: 20px 0 ;
}
.prod__price{
  line-height: 25px;
}




.product-list {
  display: flex;
  flex-flow: row wrap;
}

.product-list li {
  height: 200px;
  width: 200px;
}
.product-list li:nth-child(odd) {
  background-color: #596460;
  flex: 1;
}
.product-list li:nth-child(even) {
  flex: 2;
  background-color: #a12460;
}







.content2 ul{

}
.content2 ul li{
}








.content3{
  height: 100vh;
  background-color: rgb(112, 104, 104);
}
.content4{
  height: 100vh;
  background-color: rgb(68, 65, 65);
}
.content5{
  height: 100vh;
  background-color: rgb(151, 146, 146);
}






footer {
  /* background: linear-gradient(rgb(24, 44, 38), rgb(32, 29, 30)); */
  background-color: white;
  padding: 60px 50px;
}

footer hr{
  border: 1px solid var(--trans-b-color);
}
.ft__main{
  display: flex;
  padding-bottom: 40px;
  color: var(--deepdark-color);

}

.ft__left{
  width: 20%;
  padding-right: 40px
}

.ft__logo{
  width: 100%;
  padding: 0 0 30px;
}

.ft__logo img{
  
}

.txt__cs-number{
  font-size: 2.5rem;
  font-weight: 800;
}

.ft__right{
  width: 75%;
  font-size: 0.9rem;
  line-height: 1.5em;
  
}

.ft__right a{
  text-decoration: none;
  color: var(--text-b-color);
}

.ft__right button{
  border: none;
}

.ft__bottom{
  text-align: center;
  padding: 50px 0;
  color: var(--deepdark-color);

}
.ft__sns {
  font-size: 18px;
  padding: 40px 0 10px;
}

.ft__sns a{
  text-decoration: none;

}

.ft__sns i{
  color: var(--deepdark-color);
  border: 1px solid var(--deepdark-color);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 2px;
  text-align: center;
  position: relative;
}

.ft__sns i::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.ft__sns i:hover{
  color: var(--text-w-color);
  background-color: var(--deepdark-color);
}




