


:root{
  --deepdark-color: #272727;
  --text-w-color: whitesmoke;
  --text-b-color: #333;
  --background-color: #edece9;
  --accent-color: #596460;
  --accent-darker-color: rgb(34, 39, 37);
  --trans-w-color: rgba(245, 245, 245, 0.534);
  --trans-b-color: rgba(61, 56, 56, 0.452);

  --font-product: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
} 
::-webkit-scrollbar {
  display: none;
}


*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

.supah-scroll {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  will-change: transform;
  overflow: hidden;
}

body.hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}


h1{
  z-index: 5;
}

h6{
  /* font-family: 'Lora', serif; */
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
}

hr{
  color: var(--trans-w-color);
}

html{
  background-color: var(--background-color);

}

body{
  width: 100%;
}

header{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 90%;
}

nav div {
  text-align: right;
  padding: 25px 30px ;
  color: var(--text-b-color);
  line-height: 14px;

}

.quty__st1 {
  box-sizing: content-box;
  display: inline-block;
  min-width: 14px;
  min-height: 14px;
  color: var(--text-w-color);
  text-align: center;
  padding: 3px;
  font-size: 0.6rem;
  margin: 0 0 0 3px;
  border-radius: 50px;
  

  vertical-align: middle;
  background-color: var(--accent-color);
}

nav div a {
  /* line-height: 20px; */
  text-decoration: none;
  color: var(--text-b-color);
}

.navbar__toggleBtn{
  font-size: 22px;
  color: #313942;
  padding-left: 20px;
  z-index: 20;
}

.toggleBtn-color{
  color: var(--text-w-color);
}

.navbar__btn{
  z-index: 30;
}

.search-box{
  box-sizing: content-box;
  padding: 5px 30px;
  transition: 0.4s;
  height: 30px;
  width:30px;
}
.search-box:hover{
  border-bottom: 1px solid var(--trans-b-color);
  width: 300px;
}
.search-btn{
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-b-color);
}

.search-txt{
  display: flex;
  margin-left: -15px;
  width: 0px;
  border:none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: .4s;
}
.search-box:hover > .search-txt{
  width: 240px;
  transition: 1.5s;
}




.cart__bg{
  width: 100%;
  height: 100%;
  background-color: rgba(51, 45, 45, 0.534);
  position: absolute;
  top: 0;
  right: 0%;
  z-index: 20;

  transition: all .2s ease-in-out .1s;
  backdrop-filter: blur(5px);
  display: none;
}

.cart__bg.active{
  display: block;
}


.cart{
  width: 420px;
  height: 100vh;
  background-color: var(--text-w-color);
  position: absolute;
  top: 0;
  text-align: right;
  right: -40%;
  transition: all .2s ease-in-out .1s;
  z-index: 25;
}

.cart.active{
  right: 0%;
}



.cart__Btn__x {
  padding: 25px 50px 40px;
  font-size: 24px;
  color: var(--text-b-color);
  text-align: right;
}


.cart__main{
  padding: 0 50px;
}


.cart__top{
  padding: 0 50px 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
}

.cart__top h6 {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: -0.01em;  
  margin: 15px 0  15px 0;
  
}

.quty__st2{
  /* vertical-align: bottom; */
  box-sizing: content-box;
  display: inline-block;
  min-width: 14px;
  min-height: 14px;
  color: var(--text-w-color);
  text-align: center;
  padding: 3px;
  font-size: 0.6rem;
  border-radius: 50px;
  background-color: var(--accent-color);

}

.cart__item{
  width: 100%;
  text-align: left;
  display: flex;
}

.cart__img{
  width: 50%;
  height: 220px;
  padding: 20px 20px 20px 0;
  margin-bottom: 20px;
}

.cart__img img{
  width: 100%;
  object-fit: fill;
}


.cart__item__txt{
  width: 50%;
  padding: 20px 0 20px;
}

.cart__item-name{
  font-family: var(--font-product);
  line-height: 1.2em;
  padding-bottom: 10px ;
}
.cart__item-price{
  /* padding-bottom: 10px ; */
  line-height: 4em;
}

.cart__item__form input{
  width: 50px;
  height: 30px;
  border: 1px solid var(--trans-b-color); 
  margin: 10px 5px 0 0;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}


.cart__total{
  background-color: var(--accent-color);
  padding: 30px 0 ;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.cart__total:hover{
  background-color: var(--accent-darker-color);
}

.cart__total__price{
  font-size: 1.5rem;
  line-height: 2em;
  color: whitesmoke;
}
.inform__freeship{
  font-size: 0.8rem;
  color: whitesmoke;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid var(--trans-w-color);
  padding: 3px 10px

}


/* 햄버거메뉴 */





.hamburger__menu__bg {
  width: 100%;
  height: 100vh;
  background-color: var(--accent-color);
  text-align: right;
  transition: all 1s ease-in-out;
  
  position: absolute;
  top: -100%;
  left: 0%;
  z-index: 10;
}

.hamburger__menu__bg.active{
  display: block;
  top:0%;
}

.hamburger__Btn__x {
  padding: 25px 50px 40px;
  font-size: 24px;
  color: var(--text-w-color);
  text-align: right;
}



.hamburger__menu{
  padding: 200px 50px 25px;
  list-style: none;
  width: 50%;
  margin-left: auto;
}


.hamburger__menu li a{
  position: relative;
}
.hamburger__menu li a:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0px;
  height: 3px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: var(--text-w-color);
}
.hamburger__menu li a:hover:after{
  width: 100%;
  opacity: 1;
}



.hamburger__menu li{
  padding: 15px 0 20px;
  font-size: 3rem;
  text-align: left;
}

.hamburger__menu li a{
  text-decoration: none;
  color: var(--text-w-color);
}

.hamburger__menu li a:hover{
  /* text-decoration: underline; */
  /* transition: 1s; */
}






.cart-notification{
  width: 100%;
  padding: 25px 50px;
  background-color: var(--accent-color);
  color: var(--text-w-color);
  text-align: right;
  z-index: 25;
  position: absolute;
  top: -10%;

  transition: all .5s ease-in-out ;
}

.cart-notification.active{
  top: 0%
}




.content1{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(185, 180, 180);
  position: relative;
}

.content1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 10%;
}

.main__text{
  padding: 0 50px;
  position: absolute;
  bottom: 5%;
}



.content1 a {
  padding-top: 60px;
  /* cursor: pointer; */
  /* pointer-events: none; */
}
.content1 a span {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid var(--trans-w-color);
  border-radius: 50px;
  box-sizing: border-box;
}
.content1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: downAnimation 2s infinite;
  box-sizing: border-box;
}

@keyframes downAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.content2{
  height: 1400px;
  background-color: #edece9;
  padding: 0 50px;
}


.content2 > h2{
  padding: 200px 0 20px;
}





.newArrivals{
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.newArrivals li{
  width: calc(100%/4);
  
  padding-right: 20px;
}

.newArrivals li:nth-child(4n+0){
  padding-right: 0px;
}


.prod__img{
  width: 100%;
  height: 400px;

  border: 1px solid salmon;
  position: relative;
  overflow: hidden;
}


.prod__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.prod__img:hover .prod__icon{
  bottom: 0;
}

.prod__icon {
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 40px;
  z-index: 10;

  text-align: center;
  margin: 0 auto;
  background: var(--trans-b-color);
  color: var(--text-w-color);

  font-size: 18px;
  transition: all .5s ease-in-out;
}


.prod__icon i{
  padding: 10px;
  width: 40px;
}

.prod__txt {
  padding: 20px 0 ;
}
.prod__price{
  line-height: 25px;
}




.product-list {
  display: flex;
  flex-flow: row wrap;
}

.product-list li {
  height: 200px;
  width: 200px;
}
.product-list li:nth-child(odd) {
  background-color: #596460;
  flex: 1;
}
.product-list li:nth-child(even) {
  flex: 2;
  background-color: #a12460;
}







.content2 ul{

}
.content2 ul li{
}








.content3{
  height: 100vh;
  background-color: rgb(112, 104, 104);
}
.content4{
  height: 100vh;
  background-color: rgb(68, 65, 65);
}
.content5{
  height: 100vh;
  background-color: rgb(151, 146, 146);
}






footer {
  /* background: linear-gradient(rgb(24, 44, 38), rgb(32, 29, 30)); */
  background-color: white;
  padding: 60px 50px;
}

footer hr{
  border: 1px solid var(--trans-b-color);
}
.ft__main{
  display: flex;
  padding-bottom: 40px;
  color: var(--deepdark-color);

}

.ft__left{
  width: 20%;
  padding-right: 40px
}

.ft__logo{
  width: 100%;
  padding: 0 0 30px;
}

.ft__logo img{
  
}

.txt__cs-number{
  font-size: 2.5rem;
  font-weight: 800;
}

.ft__right{
  width: 75%;
  font-size: 0.9rem;
  line-height: 1.5em;
  
}

.ft__right a{
  text-decoration: none;
  color: var(--text-b-color);
}

.ft__right button{
  border: none;
}

.ft__bottom{
  text-align: center;
  padding: 50px 0;
  color: var(--deepdark-color);

}
.ft__sns {
  font-size: 18px;
  padding: 40px 0 10px;
}

.ft__sns a{
  text-decoration: none;

}

.ft__sns i{
  color: var(--deepdark-color);
  border: 1px solid var(--deepdark-color);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 2px;
  text-align: center;
  position: relative;
}

.ft__sns i::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.ft__sns i:hover{
  color: var(--text-w-color);
  background-color: var(--deepdark-color);
}




