body {
  position: relative;
  overflow-x: hidden;
}

.content1 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(185, 180, 180);
  position: relative;
}

.content1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 10%;
}

.main__text {
  padding: 0 50px;
  position: absolute;
  bottom: 5%;
}

.content1 a {
  padding-top: 60px;
  /* cursor: pointer; */
  /* pointer-events: none; */
}
.content1 a span {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid var(--trans-w-color);
  border-radius: 50px;
  box-sizing: border-box;
}
.content1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: downAnimation 2s infinite;
  box-sizing: border-box;
}

@keyframes downAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.content2 {
  background-color: #edece9;
  padding: 0 50px;
}

.content2 > h2 {
  padding: 180px 0 50px;
  font-family: var(--font-title);
  font-size: 3rem;
  color: var(--accent-color);
}

.moreBtn {
  width: 44px;
  text-align: center;
  font-family: var(--font-price);
  font-size: 0.8rem;
  display: inline-block;
  transition-duration: 0.5s;
  transition-property: transform;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  background-color: var(--accent-color);
  /* border: 1px solid var(--accent-color); */
  color: var(--text-w-color);
  /* color: var(--accent-color); */
  border-radius: 50px;
}
.moreBtn i {
  padding: 1px 3px;
  font-size: 1.2rem;
}

.moreBtn:hover {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  cursor: default;
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }

  33.3% {
    transform: translateX(-6px);
  }

  49.95% {
    transform: translateX(4px);
  }

  66.6% {
    transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

.newArrivals {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 180px;
  /* flex-flow: row wrap; */
}

.newArrivals li {
  flex: 0 0 auto;
  width: calc(96% / 4);
  padding-right: 20px;
}

.newArrivals li:nth-child(4n + 0) {
  /* padding-right: 0px; */
}

.prod__img {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.prod__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prod__img:hover .prod__icon {
  bottom: 0;
}

.prod__icon {
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 40px;
  z-index: 10;

  text-align: center;
  margin: 0 auto;
  background: var(--trans-b-color);
  color: var(--text-w-color);

  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.prod__icon i {
  padding: 10px;
  width: 40px;
}

.prod__txt {
  font-family: var(--font-product);
  font-weight: 600;
  color: var(--text-b-color);
  padding: 20px 0;
}
.prod__price {
  line-height: 25px;
  padding-top: 5px;
  font-family: var(--font-price);
}

.content2 ul {
}

.content2 ul li {
}

.content3 {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background: #e4e4e4;
  margin-bottom: 180px;
}

.con3__bg {
  width: 100%;
  overflow: hidden;
}
.con3__bg img {
  width: 100%;
  min-height: 640px;
  object-fit: cover;
}
.con3__cons {
  width: 100%;
  padding: 80px;
}

.con3__cons h4 {
  font-family: var(--font-sub-title);
  font-size: 3rem;
  margin-bottom: 20px;
}
.con3__cons p:nth-child(odd) {
  font-family: var(--font-product);
  font-weight: 600;
  color: var(--text-b-color);
  font-size: 1rem;
  padding-bottom: 8px;
}

.con3__cons p:nth-child(even) {
  margin-bottom: 34px;
  font-size: 0.8rem;
  color: var(--trans-b-color);
  display: inline-block;
  position: relative;
}
.con3__cons p:nth-child(even)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--trans-b-color);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.con3__cons p:nth-last-child(0) {
}

.con3__sub {
  font-size: 1.2rem;
  color: var(--accent-color) !important;
  margin-bottom: 50px !important;
}

.content4 {
  width: 100%;
}

.con4_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.con4_left {
  width: 50%;
}

.con4_left_img {
  width: 350px;
  margin: 0 0 10px 350px;
}

.con4_left_img img {
  width: 100%;
}

.con4_left p {
  text-align: left;
  width: 400px;
  line-height: 1.4em;
  font-size: 1.4rem;
  padding: 0 0 100px 50px;
  font-family: var(--font-handwriting);
  color: var(--trans-b-color);
}

.con4_right {
  width: 50%;
  padding: 0 50px 100px;
}

.con4_right p {
  font-family: var(--font-title);
  font-size: 2rem;
  text-align: left;
  line-height: 1.4em;
  color: var(--text-b-color);
  padding-bottom: 40px;
}
.con4_right p:nth-child(2) {
  padding-bottom: 60px;
}

.btn__story {
  font-size: 1rem;
  padding: 0 50px 100px;
}

.con4__img {
  width: 100%;
  height: auto;
}

.con4__img img {
  width: 100%;
}

.content5 {
  padding: 0 50px;
  background-color: #f8f7f6;
  text-align: center;
}

.content5 h2 {
  padding: 180px 0 30px;
  font-family: var(--font-title);
  color: var(--accent-color);
  font-size: 3rem;
}

.insta__intro {
  color: var(--text-b-color);
}

.insta__profile {
  padding: 80px 0 50px;
}

.insta__profile__img {
  width: 34px;
  height: 34px;
  display: inline-block;
  overflow: hidden;
  line-height: 1rem;
  border-radius: 50%;
  margin-bottom: -8px;
}
.insta__profile img {
  width: 100%;
  object-fit: cover;
}
.insta__name {
  font-weight: 700;
  padding: 0 10px 0 5px;
}
.follow__btn {
  padding: 5px;
  border: var(--accent-color) 1px solid;
  color: var(--accent-color);
  display: inline-block;
}
.follow__btn:hover {
  color: var(--text-w-color);
  border: var(--accent-color) 1px solid;
  background-color: var(--accent-color);
}

.insta__container {
  position: relative;
  height: 500px;
}

.instabtn__left,
.instabtn__right {
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  font-size: 2rem;
  background-color: none;
  border: none;
  padding: 5px;
}
.instabtn__left {
  left: 0;
}
.instabtn__right {
  right: 0;
}

.insta__feed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 200%;
  flex-direction: row;
  transition: transform 0.5s;
  height: auto;
}

.insta__feed li {
  width: 9%;
  /* height: 300px; */
}

.feed__img {
  width: 100%;
  height: 250px;
  margin-bottom: 14px;
}
.feed__img img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

footer {
  height: auto;
  /* background: linear-gradient(rgb(24, 44, 38), rgb(32, 29, 30)); */
  background-color: var(--background-color);
  padding: 60px 50px;
}

footer hr {
  color: var(--trans-b-color);
}
.ft__main {
  display: flex;
  padding-bottom: 40px;
  color: var(--deepdark-color);
}

.ft__left {
  min-width: 280px;
  padding-right: 40px;
}

.ft__logo {
  width: 100%;
  padding: 0 0 40px;
}

.ft__logo img {
}

.ft__cs-number {
  font-family: var(--font-product);
  font-weight: 800;
  color: var(--accent-color);
}
.txt__cs-number {
  display: inline-block;
  margin-top: 6px;
  font-size: 2rem;
  font-weight: 800;
  color: var(--accent-color);
}

.ft__right {
  width: 75%;
  font-size: 0.9rem;
  line-height: 1.6em;
}

.ft__right a {
  text-decoration: none;
  color: var(--text-b-color);
}

.ft__right button {
  border: none;
}

.ft__bottom {
  text-align: center;
  padding: 50px 0;
  color: var(--deepdark-color);
}
.ft__sns {
  font-size: 18px;
  padding: 40px 0 10px;
}

.ft__sns a {
  text-decoration: none;
}

.ft__sns i {
  color: var(--deepdark-color);
  border: 1px solid var(--deepdark-color);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 2px;
  text-align: center;
  position: relative;
}

.ft__sns i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ft__sns i:hover {
  color: var(--text-w-color);
  background-color: var(--deepdark-color);
}

/* 반응형 */

/* --table: 768px;
--laptop: 1020px;
--desktop: 1400px; */

@media all and (max-width: 1020px) {
}

@media (max-width: 1400px) {
  .cart {
    right: -60%;
  }
  .prod__img {
    height: 400px;
  }
}

@media (max-width: 1020px) {
  .hamburger__menu {
    width: 70%;
  }
  nav div,
  nav form {
    display: none;
  }
  nav div:nth-child(4) {
    display: block;
  }

  .newArrivals li {
    flex: 0 0 auto;
    width: calc(96% / 3);
    padding-right: 20px;
  }

  .ft__main {
  }
}

@media (max-width: 768px) {
  .hamburger__menu {
    width: 80%;
  }
  .cart {
    right: -90%;
  }
  nav div:nth-child(4) {
    display: block;
    padding: 25px 5px;
  }

  .content2 h2 {
    font-size: 2.5rem;
  }
  .newArrivals li {
    flex: 0 0 auto;
    width: calc(96% / 2);
    padding-right: 20px;
  }
  .prod__img {
    height: 450px;
  }

  .moreBtn {
    width: 30px;
    /* font-size: 1.2rem; */
    margin-bottom: 5px;
  }
  .moreBtn i {
    padding: 2px 3px;
    font-size: 0.8rem;
  }

  .content3 {
    flex-flow: column;
  }
  .con4_top {
    flex-flow: column;
  }
  .con4_left,
  .con4_right {
    width: 100%;
  }
  .con4_right p {
    font-size: 1.3rem;
  }

  .ft__left {
    padding-bottom: 20px;
  }
  .ft__right {
    width: 100%;
  }

  .ft__main {
    flex-flow: column;
  }
}

@media (max-width: 540px) {
  .hamburger__menu {
    width: 100%;
  }

  .content2 h2 {
    font-size: 2rem;
  }
  .newArrivals li {
    flex: 0 0 auto;
    width: calc(94% / 1);
    padding-right: 20px;
  }
  .content5 h2 {
    font-size: 2rem;
  }
}
