
*{
  margin: 0;
  padding: 0;
}


.popup{
  width: 100%;
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0%;
  padding: 30px 50px;
}


h5{
  color: #8274e2;
  font-size: 1.5rem;
  padding-bottom: 0.8em;
}



@media only screen and (max-width: 767px) {

  }